body {
  background-image: url("../assets/image.png");
  background-size: cover; /* Cobre toda a área da div */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

main {
  color: aliceblue;
  padding-bottom: 10px;
  justify-content: center;
}

h1 {
  color: white;
  border-bottom: 1px solid #555555;
}

.btn-info:hover {
  background-color: #2a899e;
}
